.scroll-pane {
	-fx-background-color: transparent;  /*设置背景颜色*/
	-fx-background:#F3F3F5;  /*content（滚动的内容）填充*/
}
.infoLabel{
    -fx-text-fill: #999999;
}
.scroll-bar:vertical {
	-fx-pref-width: 8;
	-fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
	-fx-background-color: #C8C9CC;
	-fx-background-insets: 0;
	-fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: #ADAFB2;
}
.scroll-bar:vertical .track{
	-fx-background-color:#F3F3F5;
	-fx-background-insets:  0, 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    
}
.scroll-bar:vertical > .track-background {
    -fx-background-insets:  0, 0;
}
.scroll-bar:horizontal .track{
	-fx-background-color:#F3F3F5;
}
/*关闭按钮:垂直和水平的*/
.scroll-bar .increment-arrow {
	visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-arrow {
	visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .increment-button {
	visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-button {
	visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}