.table-view{
    -fx-background-color: #FAFAFC;
    -fx-background-insets:0;
	-fx-padding: 10 3 10 10;
}
/*设置标题栏的显示为0，不显示标题*/
.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
/*
.table-view .column-header-background .label{
    -fx-alignment: center-left;
}
*/

.table-view .column-header{
    -fx-border-color:transparent;
    -fx-pref-height: 35;
    -fx-background-color:transparent;
}
.table-view .table-cell{
    -fx-text-fill: #6b6b6b;
    -fx-border-color:transparent;
    -fx-alignment: center-left;
    -fx-padding: 5 5 5 5;
    
}
/*设置表格第一列的样式*/
.musicName.table-cell{
	-fx-font-size:13px;
	-fx-text-fill: #333333;
	-fx-padding:0 0 0 10;
}
/*表格行样式*/
.table-view .table-row-cell{
    -fx-cell-size: 45px;
    -fx-background-color:#FAFAFC;
    -fx-background-insets: 0;
}
.table-view .table-row-cell:pressed{
	-fx-scale-x: 0.99;
	-fx-scale-y: 0.99;
}
.table-view .table-row-cell:odd{
    -fx-background-color:#F4F4F6;
}

/*选中行的背景颜色*/
.table-view .table-row-cell:selected{
    -fx-background-color: #DEDEE0;
}

.scroll-bar:vertical {
	-fx-pref-width: 8;
	-fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
	-fx-background-color: #C8C9CC;
	-fx-background-insets: 0;
	-fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: #ADAFB2;
}
.scroll-bar:vertical .track{
	-fx-background-color:#F3F3F5;
	-fx-background-insets: 0;
}
.scroll-bar:horizontal {
	visibility: hidden;
	-fx-pref-height: 0;
	-fx-border:0;
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}
.scroll-bar:horizontal .thumb {
	visibility:hidden;
	-fx-pref-height: 2;
	-fx-border-insets: 0;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}
.scroll-bar:horizontal .thumb:hover {
	-fx-background-color: #ADAFB2;
}
.scroll-bar:horizontal .track{
	-fx-pref-height: 0;
	-fx-border:0;
	-fx-background-insets: 0;
	-fx-background-color:#F3F3F5;
}

/*关闭按钮:垂直和水平的按钮*/
.scroll-bar .increment-arrow {
	visibility: hidden;
	-fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-arrow {
	visibility: hidden;
	-fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .increment-button {
	visibility: hidden;
	-fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}
.scroll-bar .decrement-button {
	visibility: hidden;
	-fx-padding: 0.0em 0.0em 0.0em 0.0em; /* 0 0 0 0 */
}